
<div class="container forfont">
    <div class="">Your Cart</div>
    <div class="items-container">
      <div class="fields grid four-cols">
        <div class="item">Item</div>
        <div class="text-center quantity">Qty</div>
        <div class="text-center unit-price">Unit Price</div>
        <div class="text-center sub-total">Sub-total</div>
      </div>
     
      <app-food-cart></app-food-cart>
      <app-food-cart></app-food-cart>

      <app-food-cart></app-food-cart>

      <app-food-cart></app-food-cart>

    </div>
  </div>