<div class=" section">
    <div class="box dish-image">
      <img src="../../../assets/img/foodcart1.svg" alt="dish" />
      <div class="dish-name">{{orderItems.name}}</div>
    </div>
    <div class="box dish-quantity details">
      <div class="details">{{orderItems.quantity}}</div>
    </div>
    <div class="box dish-price details">
      <div class="details" >{{orderItems.price}}</div >
    </div>
    <div class="box">
      <div class="details"
        >{{orderItems.status}}</div
      >
    </div>
  </div>