<div class="container">
  <div class="checkout-form">
    <p class="checkout-form-heading">Checkout</p>
    <div class="checkout-form-input">
      <input class="checkout-form-input-field" placeholder="Card Number" />
      <input class="checkout-form-input-field" placeholder="Exp Date" />
      <input class="checkout-form-input-field" placeholder="CVV/CVV2" />
      <input class="checkout-form-input-field" placeholder="Card Pin" />
    </div>
    <div class="payment-container">
      <button class="payment-button">Make Payment</button>
    </div>
  </div>
</div>
