<div class="container">
    <div class="img">
    </div>
    <div class="form-area">
        <div class="signup-heading">
            <h2>Welcome Back</h2>
        </div>
        <div class="signup-input">
         
            <input type="text" placeholder="Enter Email" class="signup-input-field"/>
            <input type="text" placeholder="Enter Password" class="signup-input-field"/>
        </div>
        <div>
            <button class="signup-button" type="submit"> Login</button>
        </div>
        <!-- <div class="signup-terms">
            <p>Already have an account? Login in</p>
        </div> -->

        <div class="signup-div">
           
            <a class="signup-terms" href="">Create An Account</a>
        </div>
    </div>
</div>

