<div class="container ">
    <div class="header-container">Your Orders</div>
    <div class="items-container">
      <div class="section">
        <div class="item-heading">Item</div>
        <div class="quantity">Qty</div>
        <div class="unit-price">Price</div>
        <div class="status">Status</div>
      </div>
      <!-- <app-resuable-food-order></app-resuable-food-order>
      <app-resuable-food-order></app-resuable-food-order>
      <app-resuable-food-order></app-resuable-food-order>
      <app-resuable-food-order></app-resuable-food-order> -->

      <app-resuable-food-order    
      *ngFor="let item of orderItemList"  [orderItems]="item"></app-resuable-food-order>
      

    </div>
  </div>