<div class="dashboard__sidebar">
    <div class="dashboard__sidebar-head">
      <div class="logo-section">
        <img src="../../../assets/img/Group12.svg" alt="logo" />
        <h2>Lillies</h2>
      </div>
    </div>
    <div class="dashboard__sidebar-options">
      <div class="dashboard__sidebar-options-content">
        <img src="../../../assets/img/dashboard.svg" alt="" />
        <span ><a routerLinkActive="active">Dashboard</a></span>
      </div>
      <div class="dashboard__sidebar-options-content">
        <img src="../../../assets/img/profile.svg" alt="" />
        <span>Your Profile</span>
      </div>
      <div class="dashboard__sidebar-options-content">
        <img src="../../../assets/img/yourCart.svg" alt="" />
        <span>Your cart</span>
      </div>
      <div class="dashboard__sidebar-options-content">
        <img src="../../../assets/img/orders.svg" alt="" />
        <span>Orders</span>
      </div>
    </div>
  </div>