<!-- <p>signup works!</p> -->
<div class="container">

   <div class="image"></div>
    <div class="form-area">
        <div class="signup-heading">
            <h2>Welcome to Lilies</h2>
        </div>
        <div class="signup-input">
            <input type="text" placeholder="Enter Name" class="signup-input-field"/>
            <input type="text" placeholder="Enter Email" class="signup-input-field"/>
            <input type="text" placeholder="Enter Password" class="signup-input-field"/>
        </div>
        <div>
            <button class="signup-button" type="submit"> Sign up</button>
        </div>
        <!-- <div class="signup-terms">
            <p>Already have an account? Login in</p>
        </div> -->

        <p class="signup-terms">
            Already have an account? Login
            <!-- <a href="">LogIn</a> -->
        </p>
    </div>
      
</div>