<div class="container-overlay"></div>
<div class="container">
  <img src="../../assets/img/foodDeatil1.svg" class="food-image" />
  <p class="food-name">Stir Fry Pasta</p>
  <p class="description"><b>The in-house pasta and chicken by chef Moose</b></p>
  <p class="sub-description">
    The in-house pasta and chicken by chef MooseThe in-house pasta and chicken
    by chef Moose The in-house pasta and chicken by chef MooseThe in-house pasta
    and chicken by chef Moose
  </p>
  <div class="item-info">
    <div class="price">N 1,000.00</div>
    <div class="time-taken">10-20 Mins</div>
    <div class="avialable">10 Pcs Avail</div>
  </div>

  
  <div class="buttons">
    <div class="quantity-buttons">
      <button class="decrease">-</button>
      <p class="quantity">3</p>
      <button class="increase">+</button>
    </div>
    <button class="add-to-cart-button" (click)="toggle2=!toggle2">Add to cart</button>
  </div>
</div>
<app-your-cart *ngIf="toggle2"></app-your-cart>
