<div class="dashboard">
  <!-- <div class="dashboard__sidebar"></div> -->
<app-sidebar></app-sidebar>
  <div class="dashboard__main">
    <div class="dashboard_main_header">
      <h2 id="user_greet">Good Morning , Akarsh</h2>
      <p class="below_greet_description">
        What delicious meal are you craving today?
      </p>
    </div>

    <div class="dashboard_food_area">

      <div class="food-item-card">
        <app-food-item></app-food-item>
        <app-food-item></app-food-item>
        <app-food-item></app-food-item>
        <app-food-item></app-food-item>
        <app-food-item></app-food-item>
        <app-food-item></app-food-item>
      </div>
      




    </div>
  </div>
</div>
